[submodule "universe-bom"]
	path = universe-bom
	url = https://github.com/ooknight/universe-bom.git
[submodule "universe-support-plugins"]
    path = universe-support-plugins
    url = https://github.com/ooknight/universe-support-plugins.git
[submodule "universe-platform"]
	path = universe-platform
	url = https://github.com/ooknight/universe-platform.git
[submodule "universe-sample"]
	path = universe-sample
	url = https://github.com/ooknight/universe-sample.git
